body {
    margin: 0;
}


/* Header style */
.header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    padding-right: 56px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.right-side {
    display: flex;
    font-size: 18px;
    align-items: center;
}


.nav-option-link {
    text-decoration: none;
    color: black;
}

.logo {
    width: 200px;
}

.navigation-bar {
    display: flex;
    column-gap: 18px;
}

/* main body style*/
.main-body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 3000px;
}

/* postcard style */
.images-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../junsillustrations/images/front-page/WHALE-GIF2.gif");
}
.front-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: 40px;
}

.front-card-img {
    height: auto;
    width: 32%;
}

.whale-gif-img {
    height: auto;
    width: 60%;
}

/* Footer styles */
.footer-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 40px;
}

.copyright {
    white-space: none;
}

.social-media-link-container {
    display: flex;
    column-gap: 12px;
}

.media-icon {
    height: 23px;
    object-fit: cover;
}

.email-address {
    text-decoration: none;
    color: white;
}