.header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-option-link {
    text-decoration: none;
    color: black;
}

.logo {
    width: 200px;
}

.navigation-bar {
    display: flex;
    column-gap: 18px;
    font-size: 18px;
}