<footer class="footer">
    <div class="footer-container">
        <div class="copyright">&#169; Lim Jun Hui 2025</div>
        <div class="social-media-links">
            <div class="social-media-link-container">
                <a href="https://www.instagram.com/junartroom/" target="_blank">
                    <img class="media-icon" src="images/icons/instagram-icon-footer.png" alt="Instagram">
                </a>
                <a href="https://twitter.com/junartroom" target="_blank">
                    <img class="media-icon" src="images/icons/twitter_bird_icon-footer.png" alt="Twitter">
                </a>
                <a href="https://www.behance.net/junsillustration/" target="_blank">
                    <img class="media-icon" src="images/icons/behance-icon-footer.png" alt="Behance">
                </a>
                <a href="https://www.linkedin.com/in/lim-jun-hui-371b97156/" target="_blank">
                    <img class="media-icon" src="images/icons/linkedin-footer.png" alt="LinkedIn">
                </a>
                <a href="mailto:jun.jhui25@gmail.com">
                    <img class="media-icon" src="images/icons/mail-icon-footer.png" alt="Email">
                </a>
            </div>
        </div>
        <a class="email-address" href="mailto:jun.jhui25@gmail.com">jun.jhui25@gmail.com</a>
    </div>
</footer>
