<header class="header">
    <div class="header-container">
        <div class="left-side">
            <a href="index.html" class="logo-link">
                <img class="logo" src="images/logo.png">
            </a>
        </div> 
        <div class="right-side">
            <button class="menu-toggle" aria-label="Toggle menu">
                <span class="hamburger"></span>
            </button>
            <nav class="navigation-bar">
                <a class="nav-option-link" href="index.html">
                    <div class="nav-option">ILLUSTRATION</div>
                </a>
                <a class="nav-option-link" href="design.html">
                    <div class="nav-option">DESIGN</div>
                </a>
                <a class="nav-option-link" href="about.html">
                    <div class="nav-option">ABOUT</div>
                </a>
            </nav>
        </div>
    </div>
</header>
